.search {
    margin-top: 10px;
    background-image: url(https://img.freepik.com/premium-photo/scenic-view-landscape-against-sky_1048944-401436.jpg?size=626&ext=jpg&ga=GA1.2.736665098.1706879640&semt=ais_user);
    background-size: auto;
    padding: 10px;
}